
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.u-flex-display {
    display: flex;
}

.u-flex-direction-column {
    flex-direction: column;
}

.u-flex-direction-row {
    flex-direction: row;
}

.u-flex-justify-center {
    justify-content: center;
}

.u-flex-justify-end {
    justify-content: flex-end;
}