{% extends "public/collector/collector_sidebar.html" %}
{% block title %}Pick Up{% endblock %}

{% block notifications %}
    {% if notifications %}
        {% for notification in notifications  %}
        <a class="dropdown-item" href="/collector_dashboard">New task assigned</a>
            <!--<a class="dropdown-item" href="/dashboard/emails">{{notification.email_address}}</a>-->
        {% endfor %}
    {% else %}
        <a class="dropdown-item" href="/collector_dashboard">There Is No New task for you</a>
    {% endif %}
{% endblock notifications %}


{% block notifications_length %}
    {{notifications|length}}
{% endblock notifications_length %}


{% block dashboard_username %}
    {{me.CollectorName}}
{% endblock dashboard_username %}


{% block pro_pic %}
    {% if me.avatar %}
        /media/{{me.avatar}}
    {% else %}
        https://image.flaticon.com/icons/svg/667/667378.svg
    {% endif %}
{% endblock pro_pic %}
{% block first_name  %}
    {{me.CollectorName}}
{% endblock first_name  %}
{% block content %}
<pdiv>
<h2> Student Details</h2>



<form action = "" method = "POST" enctype= "multipart/form_data">
{% csrf_token %}
{{form}}

<br />
<input type = "Submit" value = "Give in Reair">
</form>

<script>

</script>
{% endblock %}
