{% extends "public/dashboard/dashboard_sidebar.html" %}
{% block title %}Add Venue{% endblock %}
{% load crispy_forms_tags%}
{% block sidebar_propic %}
    {% if me.avatar %}
        /media/{{me.avatar}}
    {% else %}
        https://image.flaticon.com/icons/svg/667/667378.svg
    {% endif %}
{% endblock sidebar_propic %}


{% block notifications %}
    {% if notifications %}
        {% for notification in notifications  %}
            <a class="dropdown-item" href="/dashboard/emails">{{notification.email_address}}</a>
        {% endfor %}
    {% else %}
        <a class="dropdown-item" href="/dashboard/emails">There Is No Booking Emails</a>
    {% endif %}
{% endblock notifications %}


{% block notifications_length %}
    {{notifications|length}}
{% endblock notifications_length %}

{% block email %}
    {{me.email}}
{% endblock email %}
{% block dashboard_email %}
    {{me.email}}
{% endblock dashboard_email %}

{% block dashboard_username %}
    {{me.first_name}}
{% endblock dashboard_username %}
{% block pro_pic %}
    {% if me.avatar %}
        /media/{{me.avatar}}
    {% else %}
        https://image.flaticon.com/icons/svg/667/667378.svg
    {% endif %}
{% endblock pro_pic %}

{% block venue_active %}
    cus-active
{% endblock venue_active %}

{% block first_name %}
    {{me.first_name}}
{% endblock first_name %}
{% block content %}

    <div class="container pt-0 px-5">
        <div class="row mb-5">
            <div class="col-md-6">
                <a href="/dashboard/students/" class="btn btn-primary round-50">
                    <i data-feather="chevron-left"></i>
                </a>
            </div>
        </div>
Collector      Student <br>
        <form action="" class="row" method="POST" enctype="multipart/form-data">
                          {% csrf_token %}
                            {% for message in messages %}
                    <div class="alert alert-warning mb-4 mt-4">
                        {{message}}
                    </div>
                     {% empty %}
                       
                {% endfor %}
            {% csrf_token %}
            <input name="id" type="hidden" value="{{p.id}}"/>
            <select id="CollectorName" name="CollectorName">
            {% for c in collectors %}
  <option value="{{ c.CollectorName }}">{{ c.CollectorName }}</option>
   {% empty %}
                        no collectors
 {% endfor %}
</select>

            <select id="ToStudent" name="ToStudent">
            {% for s in students %}
  <option value="{{ s.firstname }}">{{ s.firstname }}</option>
   {% empty %}
                        no students
 {% endfor %}
</select>


            
            
          
           
            <div class="form-group w-100 d-flex justify-content-end a">
                <button class="btn btn-primary mr-4" type="reset">Reset</button>
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        
        </form>
    </div>
{% endblock %}